# Postgres dwh data for all grades
**/postgres_data/*
**/dwh_data/

# Airflow
**/__pycache__/
**/airflow_data/logs/*

# pgAdmin
**/pgadmin_data/

# generator
**/generator_app_data/logs/*
!.gitkeep
.DS_Store
